<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="~{defaulttemplate :: head}"></head>
<body>
    <header th:replace="~{defaulttemplate :: header}" id="h_menu" class="container-fluid"></header>
    <div class="container">
        <main>
            <div th:if="${mess != null}" th:class="|alert alert-${messType} alert-dismissible|" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <span th:if="${mess != null}" th:text="${mess}"></span>
            </div>
            <h1>Lista wszystkich ćwiczeń</h1>
            <div th:if="${exercises.isEmpty()}">
                Brak ćwiczeń do wyświetlenia
            </div>
            <table
                class="table table-bordered table-success table-striped"
                th:if="${!exercises.isEmpty()}"
            >

                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Opis</th>
                        <th>Serie</th>
                        <th>Potwórzenia</th>
                        <th>Czas (do wykonania/przewidywany)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="exercise: ${exercises}">
                        <td th:text="${exercise.name}"></td>
                        <td th:text="${exercise.description}"></td>
                        <td th:text="${exercise.rounds}"></td>
                        <td th:text="${exercise.repetition}"></td>
                        <td th:text="${exercise.time}"></td>
                        <td>
                            <a th:href="@{/exercise/edit/{id}(id=${exercise.id})}">Edytuj</a> |
                            <a
                                sec:authorize="hasRole('ROLE_ADMIN')"
                                th:href="@{/exercise/delete/{id}(id=${exercise.id})}"
                            >
                                Usuń
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="/script/js/lib/bootstrap.min.js"></script>
</body>
</html>