<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{defaulttemplate :: head}"></head>
<body>
    <header th:replace="~{defaulttemplate :: header}"></header>
    <div class="container">
        <main>
            <div th:if="${message != null}" class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <span th:if="${message != null}" th:text="${message}"></span>
            </div>
            <!--/*@thymesVar id="exercise" type="springweb.trainingmanager.models.viewmodels.exercise.ExerciseRead"*/-->
            <form
                action=""
                method="post"
                th:action="@{|/exercise/${action}|}"
                th:object="${exercise}"
            >
                <fieldset>
                    <legend>Stwórz nowe ćwiczenie</legend>
                    <label class="form-label" for="name">Nazwa</label>
                    <input th:field="*{name}" id="name" class="form-control" />
                    <div
                        class="text-danger"
                        th:if="${#fields.hasErrors('name')}"
                        th:text="${#fields.errors('name')}"
                    ></div>

                    <label class="form-label" for="description">Opis</label>
                    <input th:field="*{description}" id="description" class="form-control" />
                    <div
                        class="text-danger"
                        th:if="${#fields.hasErrors('description')}"
                        th:text="${#fields.errors('description')}"
                    ></div>

                    <label class="form-label" for="bodyPart">Trenowana część ciała</label>
                    <select
                            class="form-select form-select-lg"
                            aria-label="label"
                            id="bodyPart"
                            th:field="*{bodyPart}"
                    >
                        <option value="" selected>---Wybierz część ciała---</option>
                        <!--/*@thymesVar id="Difficulty" type="springweb.trainingmanager.models.entities.BodyPart"*/-->
                        <option
                            th:each="bodyPart, i : ${bodyPartArray}"
                            th:value="${bodyPart}"
                            th:text="${T(springweb.trainingmanager.models.entities.BodyPart).getBodyDesc(bodyPart)}"
                        ></option>
                    </select>
                    <div
                            class="text-danger"
                            th:if="${#fields.hasErrors('bodyPart')}"
                            th:text="${#fields.errors('bodyPart')}"
                    ></div>

                    <label class="form-label" for="rounds">Serie</label>
                    <input th:field="*{rounds}" type="number" id="rounds" class="form-control"  />
                    <div
                        class="text-danger"
                        th:if="${#fields.hasErrors('rounds')}"
                        th:text="${#fields.errors('rounds')}"
                    ></div>

                    <label class="form-label" for="repetition">Powtórzenia</label>
                    <input
                        th:field="*{repetition}"
                        type="number"
                        id="repetition"
                        class="form-control"
                        aria-describedby="repetitionHelp"
                    />
                    <div
                        class="text-danger"
                        th:if="${#fields.hasErrors('repetition')}"
                        th:text="${#fields.errors('repetition')}"
                    ></div>
                    <div id="repetitionHelp" class="form-text">
                        Jeśli ćwiczenie polegają długości wykonywania, zostaw puste pole
                        lub wpisz 0
                    </div>

                    <label class="form-label" for="time">Czas wykonania</label>
                    <input
                        id="time"
                        th:field="*{time}"
                        name="time"
                        aria-describedby="timeHelp"
                        pattern="[0-9]{2}:[0-9]{2}"
                        class="form-control"
                    />
                    <div id="timeHelp" class="form-text">
                        Jeśli ćwiczenia polegają na ilości powtórzeń, możesz zostawić
                        to pole puste (lub wpisz przewidywaną długość treningu)
                    </div>

                    <label class="form-label" for="weights">Obciążenie</label>
                    <input
                        th:field="*{weights}"
                        type="number"
                        id="weights"
                        class="form-control"
                        aria-describedby="repetitionHelp"
                    />
                    <div
                        class="text-danger"
                        th:if="${#fields.hasErrors('weights')}"
                        th:text="${#fields.errors('weights')}"
                    ></div>

                    <label class="form-label" for="difficulty">Poziom trudności</label>
                    <select
                        class="form-select form-select-lg"
                        aria-label="label"
                        id="difficulty"
                        th:field="*{difficulty}"
                    >
                        <option value="" selected>---Wybierz poziom trudności---</option>
                        <!--/*@thymesVar id="Difficulty" type="springweb.trainingmanager.models.entities.Difficulty"*/-->
                        <option
                            th:each="difficulty, i : ${difficultyArray}"
                            th:value="${difficulty}"
                            th:text="${difficultyDescArray.get(__${i.index}__)}"
                        ></option>
                    </select>
                    <div
                        class="text-danger"
                        th:if="${#fields.hasErrors('difficulty')}"
                        th:text="${#fields.errors('difficulty')}"
                    ></div>

                    <label class="form-label" for="trainings">Lista treningów do przypisania</label>
                    <select
                        class="form-select form-select-lg"
                        aria-label="label"
                        id="trainings"
                        th:if="${allTrainings != null and !allTrainings.isEmpty()}"
                        name="trainingIds"
                        multiple
                    >
                        <option value="" selected>---Wybierz treningi---</option>
                        <option
                            th:each="training, i : ${allTrainings}"
                            th:value="${training.id}"
                            th:text="${training.title}"
                            th:selected="${selected != null and selected.contains(training.id)}"
                        >
                        </option>
                    </select>
                    <div class="py-5">
                        <button type="submit" class="btn btn-success">Zapisz</button>
                    </div>
                </fieldset>
            </form>
        </main>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="/script/js/lib/bootstrap.min.js"></script>
</body>
</html>