<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="~{defaulttemplate :: head}"></head>
<body>
<header th:replace="~{defaulttemplate :: header}" id="h_menu" class="container-fluid"></header>
<div class="container">
    <main>
        <div th:replace="~{defaulttemplate :: alert}"></div>
        <h1>Lista wszystkich treningów</h1>
        <div th:if="${trainings.isEmpty()}">
            Brak treningów do wyświetlenia
        </div>
        <div th:each="training : ${trainings}">
            <h2 th:text="|Tytuł: ${training.title}|"></h2>
            <div class="m-0 p-0">
                <h3 class="m-0">Opis</h3>
                <p th:text="${training.description}" class="py-0"></p>
            </div>
            <div>
                <fieldset class="row align-items-start">
                    <form
                        class="col-sm-1"
                        method="post"
                        action="#"
                    >
                        <button
                                class="btn btn-primary option-link"
                                type="submit"
                        >
                            Edytuj
                        </button> |
                    </form>
                    <form
                        class="col-sm-1"
                        method="get"
                        action="#"
                        th:action="@{/training/train/{id}(id=${training.id})}"
                    >
                        <button
                            class="btn btn-primary option-link"
                            type="submit"
                        >
                            Trenuj
                        </button> |
                    </form>
                    <form
                        class="col-sm-1"
                        method="get"
                        action="#"
                        sec:authorize="hasRole('ROLE_ADMIN')"
                        th:action="@{/training/delete/{id}(id=${training.id})}"
                    >
                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Potwierdź usuwanie</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Czy na pewno chcesz usunąć ten element?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                                        <button type="submit" class="btn btn-danger" >Usuń</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button
                            type="button"
                            class="btn btn-danger option-link"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteModal"
                        >
                            Usuń
                        </button>
                    </form>
                </fieldset>
            </div>
            <table class="table table-bordered table-success table-striped">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Serie</th>
                    <th>Potwórzenia</th>
                    <th>Czas (do wykonania/przewidywany)</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="exercise: ${training.exercises}">
                    <td th:text="${exercise.name}"></td>
                    <td th:text="${exercise.description}"></td>
                    <td th:text="${exercise.rounds}"></td>
                    <td th:text="${exercise.repetition}"></td>
                    <td th:text="${exercise.time}"></td>
                </tr>
                </tbody>
            </table>
            <hr />
        </div>
    </main>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="/script/js/lib/bootstrap.min.js"></script>
</body>
</html>